@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-height: 100vh;
  font-family: "Roboto";
}

p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.9fr 4fr;
  grid-template-rows: 0.9fr 5fr;
  max-width: 100vw;
  min-height: 100vh;
}

.account-buttons {
  display: grid;
  grid-template-columns: min-content min-content auto;
  padding-left: 60px;
  padding-right: 30px;
  gap: 30px;
}

.notification-button {
  width: 1.6rem;
  height: 1.6rem;
}

.profile-picture {
  grid-column: 2 / 3;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}

.username-container {
  grid-column: 3 / 4;
}

.username {
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 700;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects-container-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  gap: 20px;
}

.project {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -5px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.03);
}

.project-header {
  font-size: 1.3rem;
  font-weight: 700;
}

.project-buttons {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.project-buttons img {
  width: 1.6rem;
  height: 1.6rem;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  padding: 0 30px 15px 30px;
  box-shadow: 0 10px 15px -15px;
}

.search-bar {
  display: flex;
  gap: 16px;
}

.search-bar img {
  width: 1.6rem;
  height: 1.6rem;
}

.search-bar input {
  border-radius: 15px;
  width: 100%;
  background-color: lightgray;
  padding-left: 8px;
}

.greeting-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
}

.greeting-container img {
  grid-row: 1 / 3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.greeting {
  grid-column: 2 / 3;
  font-weight: 700;
}

.greeting-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: 700;
  font-size: 1.3rem;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.action-buttons button {
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
}

.center {
  align-self: center;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 100px repeat(10, 50px);
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 15px;
  background-color: lightblue;
  color: white;
  font-weight: 700;
}

.sidebar .dashboard {
  font-size: 1.6rem;
}

.sidebar-item {
  display: flex;
  gap: 10px;
}

.sidebar-item.dashboard img {
  width: 2rem;
  height: 2rem;
}

.sidebar-item img {
  width: 1.6rem;
  height: 1.6rem;
}

.announcements-and-trending {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
}

.announcements-container, .trending-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.announcements-box, .trending-box {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.announcements-title, .trending-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.announcements-box div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.announcements-box div:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.announcement-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 8px;
}

.trending-item img {
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}

.trending-username {
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  transform: scale(0.97);
}