@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-height: 100vh;
  font-family: "Roboto";
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  width: 100vw;
  min-height: 100vh;
}

.account-buttons {
  display: grid;
  grid-template-columns: min-content min-content auto;
  padding-left: 60px;
  padding-right: 30px;
  gap: 30px;
}

.notification-button, .profile-picture, .username {
  cursor: pointer;
}

.notification-button {
  width: 1.6rem;
  height: 1.6rem;
}

.profile-picture {
  grid-column: 2 / 3;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}

.username-container {
  grid-column: 3 / 4;
}

.username {
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 700;
}

.profile-picture:active, .username:active, .notification-button:active {
  transform-origin: center center;
  transform: scale(0.97);
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
}

.project {
  border: 1px solid black;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  padding: 0 30px 15px 30px;
  box-shadow: 0 10px 15px -15px;
}

.search-bar {
  display: flex;
  gap: 16px;
}

.search-bar img {
  width: 1.6rem;
  height: 1.6rem;
}

.search-bar input {
  border-radius: 15px;
  width: 100%;
  background-color: lightgray;
  padding-left: 8px;
}

.greeting-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
}

.greeting-container img {
  grid-row: 1 / 3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.greeting {
  grid-column: 2 / 3;
  font-weight: 700;
}

.greeting-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: 700;
  font-size: 1.3rem;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.action-buttons button {
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
}

.center {
  align-self: center;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 100px repeat(10, 50px);
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 15px;
  background-color: lightblue;
  color: white;
  font-weight: 700;
}

.sidebar .dashboard {
  font-size: 1.6rem;
}

.sidebar-item {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.sidebar-item.dashboard img {
  width: 2rem;
  height: 2rem;
}

.sidebar-item img {
  width: 1.6rem;
  height: 1.6rem;
}

.sidebar-item:active {
  transform: scale(0.97);
}