@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-height: 100vh;
  font-family: "Roboto";
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  width: 100vw
}

.account-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.big-profile-picture {
  grid-row: 1 / 3;
}

.dashboard {
  font-size: 1.6rem;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  
}

.project {
  border: 1px solid black;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.account-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

img {
  grid-row: 1 / 3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.greeting {
  grid-column: 2 / 3;
}

.greeting-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.center {
  align-self: center;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 100px repeat(10, 50px);
  font-size: 1.3rem;
}